@model order.model.Customer

@{
    ViewBag.Title = "Administrator Page";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}
@section navbar
{
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#"><span aria-hidden="true" data-icon=""></span> Delete Customer</a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><a href="/Customer/Index"><i aria-hidden="true" data-icon="b"></i>  <strong>Customers</strong></a></li>
                    </ul>
                </div>
            </div><!-- end of container-->
        </div><!-- end of navbar-inner-->
    </div><!-- end of navbar-->
}
<div class="metro span12 well">
    <h3>Are you sure you want to delete this <i aria-hidden="true" data-icon=""></i></h3>
    <hr />
    <blockquote>
        <p>@Model.LicenseId</p>
        <small>License Id</small>
    </blockquote>
    <blockquote>
        <p>@Model.CustomerCode</p>
        <small>Customer Code</small>
    </blockquote>
    <blockquote>
        <p>@Model.CustomerName</p>
        <small>Customer Name</small>
    </blockquote>
    <blockquote>
        <p>@Model.ServiceBusNamespace</p>
        <small>Service Bus Namespace</small>
    </blockquote>
    <blockquote>
        <p>@Model.Issuer</p>
        <small>Issuer</small>
    </blockquote>
    <blockquote>
        <p>@Model.SecretKey</p>
        <small>Secret Key</small>
    </blockquote>
    
    @using (Html.BeginForm("ConfirmDeleteCustomer", "Customer")) {
        @Html.HiddenFor(model => model.Id)
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
            @Html.ActionLink("Back to List", "Index", null, new { Class = "btn" })
        </div>
    }

    @Html.ValidationSummary(true)
</div><!-- end of metro span12-->