@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/order")
}

@section navbar
{
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#"><span aria-hidden="true" data-icon="<"></span> Order</a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <!--<li><a href="/Branch/NewBranch"><i aria-hidden="true" data-icon=""></i>  <strong>New Branch</strong></a></li>-->
                    </ul>
                </div>
            </div><!-- end of container-->
        </div><!-- end of navbar-inner-->
    </div><!-- end of navbar-->
}
<div class="metro span2"></div>
<div class="metro span10"></div>
<div class="order-error-container">
</div>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/underscore.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/backbone.min.js")"></script>
    <script data-main="@Url.Content("~/Scripts/app/order/main")" type="text/javascript" src="@Url.Content("~/Scripts/require.js")"></script>
}