@model order.web.Models.EditBranchViewModel

@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}
@section navbar
{
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#"><span aria-hidden="true" data-icon="&"></span> Edit Branch</a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><a href="/Branch/Index"><i aria-hidden="true" data-icon=""></i> <strong>All Branches</strong></a></li>
                    </ul>
                </div>
            </div><!-- end of container-->
        </div><!-- end of navbar-inner-->
    </div><!-- end of navbar-->
}
<div class="metro span12 well">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="control-group">
        @Html.LabelFor(model => model.UserName)
        <div class="controls">
            @Html.EditorFor(model => model.UserName)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(model => model.BranchCode)
        <div class="controls">
            @Html.EditorFor(model => model.BranchCode)
            @Html.ValidationMessageFor(model => model.BranchCode)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(model => model.BranchName)
        <div class="controls">
            @Html.EditorFor(model => model.BranchName)
            @Html.ValidationMessageFor(model => model.BranchName)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Password)
        <div class="controls">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(model => model.Password) 
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Edit</button>
        <a href="/Branch/Index" class="btn">Back to list</a>
    </div>
    
    @Html.ValidationSummary(true)
}
</div><!-- end of .metro.span12-->

@section scripts
{
    <script type="text/javascript">
        $("input[name='BranchName']").addClass('span4');
        $("input[name='UserName']").addClass('span4');
        $("input[name='UserName']").attr('readonly', 'true')
        $(".zain-footer").css('margin-top', "0");
    </script>
}