@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
        <title>@ViewBag.Title - Home</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/bootmetro/css")
        @Styles.Render("~/Content/css/base")
        @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="nav-bar" class="container-fluid">
    <div class="row-fluid">
        <div class="span8"> 
            <div id="header-container">
                <h1 class="top-header"><a href="#">Zain Order</a></h1>
            </div>
        </div>
        <div id="top-info" class="pull-right">
           <a href="#" class="pull-left">
               <div class="top-info-block">
                   <h3>@User.Identity.Name</h3>
                   <h4>Super User</h4>
               </div>
               <div class="top-info-block">
                   <b class="icon-user"></b>
               </div>
           </a>
           <hr class="separator pull-left">
           <div class="dropdown">
            <a class="header-dropdown dropdown-toggle accent-color settings pull-left" data-toggle="dropdown" href="#">
               <b class="icon-settings"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
            </div>
      </div>
   </div>
   </header>
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/jsextlibs")
</body>
</html>