@model IEnumerable<order.model.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jsapp")
}

<h3 class="customer-list-header">Customer List</h3>
<hr class="customer-list-header-separator" />
<div class="span9">
<div class="row-fluid">
<div class="span12">
<div class="search-result">
<div class="list-content">

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->

    @foreach (var item in Model) {
        <div class="list-item" style="border-bottom: 1px solid #808080; margin-bottom: 10px;">
            <div style="float: right;">
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </div>
            <h2>
                @Html.DisplayFor(modelItem => item.LicenseId)
            </h2>
            <span>
                @Html.DisplayFor(modelItem => item.BranchCode)
            </span>
            <span> | </span>
            <span>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </span>
            <h3>
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
        </div>
    }

</div><!-- End of list-content -->
</div><!-- End of search-result -->
</div><!-- End of span12 -->
</div><!-- End of row-fluid -->
</div><!-- End of span9 -->